body {
  color: #333;
  font-family: 'Helvetica', arial;
}
h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
h1 span {
  color: #428bca;
}
b {
  font-weight: bold;
}
.wrap {
  padding: 40px;
}
hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #999;
}
h1 {
  font-size: 30px;
  margin-bottom: 40px;
}
p {
  margin-bottom: 20px;
}
.form-item {
  max-width: none;
  margin-bottom: 15px;
  position: relative;
}
.form-control {
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #999;
  color: #333;
  font-size: 16px;
  display: block;
  height: 60px;
  padding: 20px 20px 0;
  width: 100%;
}
.form-control:valid {
  border-color: #00b232;
}
.form-control:focus {
  border-color: #428bca;
}
.label-float {
  color: #999;
  position: absolute;
  top: 0;
  line-height: 60px;
  padding: 0 20px;
  -webkit-transition: line-height linear 0.2s;
  transition: line-height linear 0.2s;
  cursor: text;
}
.form-control:focus + .label-float,
.form-control:valid + .label-float {
  color: #ccc;
  font-size: 12px;
  line-height: 1.5;
}
